<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->

<Title:>
  {{roomName}} - {_room.visits} visits
  
<Header:>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>
  <script src="http://code.jquery.com/jquery.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap -->
   <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<Body:>
  <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$("[rel=tooltip]").tooltip();
		});
	</script>
    <div class="navbar navbar-inverse">
		<div class="navbar-inner">
	    	<a class="brand" href="home.html">Clear Learning</a>
	    	<ul class="nav">
	    		<li class="active"><a href="home.html">Home</a></li>
	    		<li><a href="assignment.html">Assignments</a></li>
			    <li><a href="classwork.html">Classwork</a></li>
			    <li><a href="grades.html">Grades</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="messages.html"><span rel="tooltip" title="messages" data-placement="bottom"><i class="icon-envelope icon-white"></i></span></a></li>
			    <li><a href="profile.html"><span rel="tooltip" title="profile" data-placement="bottom"><i class="icon-user icon-white"></i></span></a></li>
			    <li><a href="login.html"><span rel="tooltip" title="logout" data-placement="bottom"><i class="icon-off icon-white"></i></span></a></li>
	    	</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span3">
				<ul class="nav nav-list">
					<li class="nav-header">School Announcements</li>
					<li class="active"><a href="#">General</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Other</a></li>
					<li class="nav-header">Sports Announcements</li>
					<li><a href="#">Lacrosse Team</a></li>
					<li><a href="#">Football Team</a></li>
					<li class="nav-header">Club Announcements</li>
					<li><a href="#">Robotics Club</a></li>
					<li><a href="#">Habitat for Humanity</a></li>
				</ul>
			</div>
			<div class="span9 pull-right">
				<div class="row-fluid"> <!-- this div is only used for alerts -->
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Mr. Schlenger just graded your assignment <a href="#">here</a>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h1>General Announcements</h1>
						<hr>
						<h2>Earth Day<small> is going to be awesome</small></h2>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
						<img src="http://www.levistrauss.com/sites/levistrauss.com/files/blog/2011/4/earth-day.jpg">
						<hr>
						<h2>Graduation Day</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<img src="http://growingupanchorage.com/wp-content/uploads/2012/11/Graduation.jpg">
					</div>
				</div>
				<div class="pagination">
					<ul>
						<li><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
<timer:>
  {#if _stopped}
    <a x-bind="click:start">Start timer</a>
  {else}
    You have been here for {_timer} seconds. <a x-bind="click:stop">Stop</a>
  {/}
